<!DOCTYPE html>
<html>
<head>
  <title>MovieApp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
<br>
<%= link_to 'Genres', Genre %>
<%= link_to 'Movies', Movie %>
</body>
</html>
