.country
  - if @country.video == '' || @country.video == nil
    .poster
      %img{:src => @country.flag}
        %h1= link_to "#{@country.name}", country_path(@country)
  - else
    = video_tag @country.video,  controls: false, muted: true, type: 'video/webm'
    %h1= link_to "#{@country.name}", country_path(@country)
  .summary
    %p
      %img.map{:src => @country.map}
        %h2= country.name
        = @country.summary
        %span.population
          The current population of #{@country.name} is #{number_to_human(@country.population)}.
